<!-- Para controlar a visibilidade de um elemento, usamos a diretiva ng-show 
	 Ela espera um boolean, if true, display, if false, don't -->
<table  ng-show="listaContatos.length > 0">
	<caption>Tabela de amigos !</caption>
	<thead>
		<!-- A diretiva ng repeat eh o foreach para carregar uma tabela-->
		<tr>
			<th>Codigo</th>
			<th>Nome</th>
			<th>Email</th>
			<th>Telefone</th>
			<!--<th>Data</th>-->
			<th>Acao</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="contato in listaContatos">
			<td>{{ contato.Codigo }}</td>
			<td>{{ contato.Nome }}</td>
			<td>{{ contato.Email }}</td>
			<td>{{ contato.Telefone }}</td>
			<!--<td>{{ contato.Data }}</td>-->
			<td> <input ng-click="clickExcluir($index, contato)" type="button" id="excluir" name="excluir" value="Excluir"> </td>
		</tr>
	</tbody>
	<tfoot>
		
		<tr>
			<td colspan="5"> Total: {{ listaContatos.length }}</td>
		</tr>
	</tfoot>
</table>

<input type="button" id="carregar" name="carregar" value="Carregar" ng-click="clickCarregar()">